.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: ghostwhite !important;
    color: black !important;
    
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    color: black !important;
}

